<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample vuelite</title>
  </head>
  <body>
    <div id="app">
        <!-- <input type="text" v-model="title">
        <div>{{ title }}</div> -->

        <div v-for="item in items">
          <local-component :localtitle="firstName"></local-component>
        </div>

      
    


        
        

        <!-- <local-component :localtitle="lastName"></local-component> -->
      
      <!-- <global-component :globaltitle="firstName"></global-component>
      <global-component :globaltitle="firstName"></global-component> -->
        
         

    </div>


    <template id="local-component">
      <h2>로컬 컴포넌트</h2>
      <h2>{{ message }}</h2>
      <h2>{{ localtitle }}</h2>
      <!-- <global-component :globaltitle="message"></global-component> -->
    </template>


    <template id="global-component">
      <div>
        <h1>{{ message }}</h1>
        <h1>{{ globaltitle }}</h1>
      </div>
    </template>





  </body>
</html>



