<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample vuelite</title>
  </head>
  <body>
    <div id="app">

      <input type="text" v-model="message">
      <div>{{ message }}</div>
      <div>{{ count }}</div>
      <button @click="increase">++</button>

      <div v-for="value in user">
        {{value }}
      </div>

      <!-- <div v-for="(item, index) in items" :key="item.id">
        <div>{{ `${index} 번째 메시지 ${item.message}` }}</div>
      </div> -->

      <!-- <span v-once>절대 바뀌지 않음: {{ message }}</span> -->

        <!-- <div class="title">Parent Component</div>
        <input type="text" v-model="message">
        <input type="checkbox" v-model="visible">
        <span>{{ visible ? "🔓" : "🔒" }}</span>
        <vue-propsviewer :propsdata="message" :handlecheck="handlecheck"></vue-propsviewer>
        <vue-propsviewer :propsdata="message" :handlecheck="handlecheck"></vue-propsviewer> -->
    </div>

    <template id="propsviewer">
      <section>
        <div class="title">Child Component</div>
        <div>{{ message }}</div>
        <div>{{ propsdata }}</div>
        <button @click="handlecheck">event emit</button>
      </section>
    </template>


    <template id="global-component">
      <div>
        <h1>{{ message }}</h1>
        <h1>{{ globaltitle }}</h1>
      </div>
    </template>


  </body>
</html>



